asgiref==3.8.1
blinker==1.8.2
click==8.1.7
colorama==0.4.6
comtypes==1.4.7
contourpy==1.2.1
cycler==0.12.1
Django==5.0.6
Flask==3.0.3
fonttools==4.53.0
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.0
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pillow==10.3.0
pyjokes==0.6.0
pyparsing==3.1.2
pypiwin32==223
pypng==0.20220715.0
python-dateutil==2.9.0.post0
pyttsx3==2.97
pytz==2024.1
pywin32==306
qrcode==7.4.2
seaborn==0.13.2
six==1.16.0
sqlparse==0.5.0
typing_extensions==4.12.2
tzdata==2024.1
Werkzeug==3.0.3
